<div class="crumbs">
  <ul id="breadcrumbs" class="breadcrumb">
    <li><%= link_to "Dashboard", root_path %></li>
  </ul>
  <ul class="crumb-buttons">
    <li><%= link_to new_academy_path do %><span>Agregar Academia</span><% end %></li>
  </ul>
</div>
<div class="page-header">
  <div class="page-title">
    <h2>Academias</h2>
    <span>Good morning, John!</span>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="widget_box">
      <div class="widget_content">
        <table class = "table table-striped table-bordered table-hover datatable">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Profesores</th>
              <th>U. de Aprendizaje</th>
            </tr>
          </thead>
          <tbody>
            <% @academies.each do |academy| %>
              <tr>
                <td><%= link_to academy do %><i class="fa fa-eye"></i> <%= academy.name %><% end %></td>
                <td><%= academy.teachers.count %></td>
                <td><%= academy.subjects.count %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
