<div class="crumbs">
  <ul id="breadcrumbs" class="breadcrumb">
    <li><%= link_to "Dashboard", root_path %></li>
  </ul>
  <ul class="crumb-buttons">
    <li><%= link_to edit_academy_path(@academy) do %><span>Editar Academia</span><% end %></li>
    <li><%= link_to @academy, method: :delete do %><span>Eliminar Academia</span><% end %></li>
    <li><%= link_to academies_path do %><span>Academias</span><% end %></li>
  </ul>
</div>
<div class="page-header">
  <div class="page-title">
    <h2><%= @academy.name %></h2>
    <span>Good morning, John!</span>
    <p id="notice"><%= notice %></p>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h4>Profesores</h4>
    <table class = "table table-striped table-bordered table-hover datatable">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Número de Empleado</th>
        </tr>
      </thead>
      <tbody>
        <% @academy.teachers.each do |teacher| %>
          <tr>
            <td><%= link_to teacher do %><i class="fa fa-eye"></i> <%= teacher.name %> <%= teacher.lname %> <%= teacher.mname %><% end %></td>
            <td><%= teacher.pin %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <h4>Unidades de Aprendizaje</h4>
    <table class = "table table-striped table-bordered table-hover datatable">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Clave</th>
        </tr>
      </thead>
      <tbody>
        <% @academy.subjects.each do |subject| %>
          <tr>
            <td><%= link_to subject do %><i class="fa fa-eye"></i> <%= subject.name %><% end %></td>
            <td><%= subject.pin %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
