<div class="page-header">
  <div class="page-title">
    <h2><%= @student.name %> <%= @student.lname %> <%= @student.mname %></h2>
    <span>Good morning, John!</span>
    <p id="notice"><%= notice %></p>
  </div>
</div>
<p>
  <strong>Pin:</strong>
  <%= @student.pin %>
</p>

<p>
  <strong>Entry:</strong>
  <%= @student.entry.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Graduation:</strong>
  <%= @student.graduation.strftime("%d/%m/%Y") if @student.graduation.present? %>
</p>

<p>
  <strong>Master:</strong>
  <%= @student.major.name %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
