<div class="page-header">
  <div class="page-title">
    <h2><%= @master.name %></h2>
    <span>Good morning, John!</span>
    <p id="notice"><%= notice %></p>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h4>Alumos</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Número de Boleta</th>
        </tr>
      </thead>
      <tbody>
        <% @master.students.each do |student| %>
          <tr>
            <td><%= student.name %> <%= student.lname %> <%= student.mname %></td>
            <td><%= student.pin %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <h4>Unidades de Aprendizaje</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Clave</th>
        </tr>
      </thead>
      <tbody>
        <% @master.subjects.each do |subject| %>
          <tr>
            <td><%= subject.name %></td>
            <td><%= subject.pin %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= link_to 'Edit', edit_master_path(@master) %> |
<%= link_to 'Back', masters_path %>
