<% if @major.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@major.errors.count, "error") %> ha evitado que se complete la operación:</h2>
    <ul>
    <% @major.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="widget box">
  <div class="widget-content">
    <%= form_for(@major, :class => "form-horizontal row-border") do |f| %>
      <div class="form-group">
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <%= f.label :name, "Nombre", :class => "control-label" %>
            <%= f.text_field :name, :class => "form-control" %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-10">
            <%= f.submit "Aceptar", :class => "btn btn-primary pull-right" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
