<div class="crumbs">
  <ul id="breadcrumbs" class="breadcrumb">
    <li><%= link_to "Dashboard", root_path %></li>
  </ul>
  <ul class="crumb-buttons">
    <li><%= link_to edit_major_path(@major) do %><span>Editar Programa Academico</span><% end %></li>
    <li><%= link_to @major, method: :delete do %><span>Eliminar Programa Academico</span><% end %></li>
    <li><%= link_to majors_path do %><span>Programas Academicos</span><% end %></li>
  </ul>
</div>
<div class="page-header">
  <div class="page-title">
    <h2><%= @major.name %></h2>
    <span>Hola <%= current_user.name %></span>
    <p id="notice"><%= notice %></p>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h4>Alumos</h4>
    <table class = "table table-striped table-bordered table-hover datatable">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Número de Boleta</th>
        </tr>
      </thead>
      <tbody>
        <% @major.students.each do |student| %>
          <tr>
            <td><%= student.name %> <%= student.lname %> <%= student.mname %></td>
            <td><%= student.pin %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <h4>Unidades de Aprendizaje</h4>
    <table class = "table table-striped table-bordered table-hover datatable">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Clave</th>
        </tr>
      </thead>
      <tbody>
        <% @major.subjects.each do |subject| %>
          <tr>
            <td><%= link_to subject do %><i class="fa fa-eye"></i> <%= subject.name %><% end %></td>
            <td><%= subject.pin %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
