<% if @subject.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h2>
    <ul>
    <% @subject.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="widget box">
  <div class="widget-content">
    <%= form_for(@subject, :class => "form-horizontal row-border") do |f| %>
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <%= f.label :name, "Nombre", :class => "control-label"%>
            <%= f.text_field :name, :class => "form-control" %>
          </div>
          <div class="col-md-6">
            <%= f.label :pin, "Clave", :class => "control-label"%>
            <%= f.text_field :pin, :class => "form-control" %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            <%= f.label :credits, "Creditos", :class => "control-label"%>
            <%= f.text_field :credits, :class => "form-control" %>
          </div>
          <div class="col-md-3">
            <%= f.label :period, "Periodo", :class => "control-label"%>
            <%= f.text_field :period, :class => "form-control" %>
          </div>
          <div class="col-md-3">
            <%= f.label :academy_id, "Academia", :class => "control-label"%>
            <%= f.collection_select(:academy_id, Academy.all, :id, :name, {}, {:class => "form-control"}) %>
          </div>
          <div class="col-md-3">
            <%= f.label :master_id, "Carrera", :class => "control-label"%>
            <%= f.collection_select(:master_id, Academy.all, :id, :name, {}, {:class => "form-control"}) %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-12">
            <%= f.submit "Aceptar", :class => "btn btn-primary pull-right" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
