<div class="crumbs">
  <ul id="breadcrumbs" class="breadcrumb">
    <li><a href="#">Dashboard</a></li>
  </ul>
  <ul class="crumb-buttons">
    <li><%= link_to new_subject_path do %><span>Agregar U. de Aprendizaje</span><% end %></li>
  </ul>
</div>
<div class="page-header">
  <div class="page-title">
    <h2>Unidades de Aprendizaje</h2>
    <span>Good morning, John!</span>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="widget_box">
      <div class="widget_content">
        <table class = "table table-striped table-bordered table-hover datatable">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Clave</th>
              <th>Creditos</th>
              <th>Perido</th>
              <th>Academia</th>
              <th>Carrera</th>
            </tr>
          </thead>
          <tbody>
            <% @subjects.each do |subject| %>
              <tr>
                <td><%= link_to subject do %><i class="fa fa-eye"></i> <%= subject.name %><% end %></td>
                <td><%= subject.pin %></td>
                <td><%= subject.credits %></td>
                <td><%= subject.period %></td>
                <td><%= subject.academy.name %></td>
                <td><%= subject.major.name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
