<div class="crumbs">
  <ul id="breadcrumbs" class="breadcrumb">
    <li><a href="#">Dashboard</a></li>
  </ul>
  <ul class="crumb-buttons">
    <li><%= link_to edit_subject_path(@subject) do %><span>Editar U. de Aprendizaje</span><% end %></li>
    <li><%= link_to @subject, method: :delete do %><span>Eliminar U. de Aprendizaje</span><% end %></li>
    <li><%= link_to subjects_path do %><span>U. de Aprendizaje</span><% end %></li>
  </ul>
</div>
<div class="page-header">
  <div class="page-title">
    <h2><%= @subject.name %></h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Clave</dt>
      <dd><%= @subject.pin %></dd>
      <br>
      <dt>Creditos</dt>
      <dd><%= @subject.credits %></dd>
      <br>
      <dt>Periodo</dt>
      <dd><%= @subject.period %></dd>
      <br>
      <dt>Academia</dt>
      <dd><%= @subject.academy.name %></dd>
      <br>
      <dt>Carrera</dt>
      <dd><%= @subject.major.name %></dd>
    </dl>
    <div class="row">
      <div class="col-md-12">
        <h4>Profesores</h4>
        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Número de Empleado</th>
            </tr>
          </thead>
          <tbody>
            <% @subject.teachers.each do |teacher| %>
              <tr>
                <td><%= link_to teacher do %><i class="fa fa-eye"></i> <%= teacher.name %> <%= teacher.lname %> <%= teacher.mname %><% end %></td>
                <td><%= teacher.pin %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
