<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Pin:</strong>
  <%= @subject.pin %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @subject.credits %>
</p>

<p>
  <strong>Period:</strong>
  <%= @subject.period %>
</p>

<p>
  <strong>Academy:</strong>
  <%= @subject.academy.name %>
</p>

<p>
  <strong>Master:</strong>
  <%= @subject.master.name %>
</p>

<p>
  <strong>Teachers:</strong>
  <% @subject.teachers.each do |teacher| %>
    <%= teacher.name %>
  <% end %>
</p>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
