<div class="crumbs">
  <ul id="breadcrumbs" class="breadcrumb">
    <li><%= link_to "Dashboard", root_path %></li>
  </ul>
  <ul class="crumb-buttons">
    <li><%= link_to teachers_path do %><span>Profesores</span><% end %></li>
  </ul>
</div>
<div class="page-header">
  <div class="page-title">
    <h2>Editar Profesor</h2>
    <span>Hola <%= current_user.name %></span>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render 'form' %>
    <%= link_to 'Regresar', teachers_path, :class => "btn btn-primary pull-right" %><br>
  </div>
</div>
