<div class="crumbs">
  <ul id="breadcrumbs" class="breadcrumb">
    <li><%= link_to "Dashboard", root_path %></li>
  </ul>
  <ul class="crumb-buttons">
    <li><a data-toggle="modal" href="#addSubjects"><span>Agregar U. de Aprendizaje</span></a></li>
    <div class="modal fade" id="addSubjects">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Agregar Academias</h4>
          </div>
          <div class="modal-body">
            <%= form_for @teacher, :class => "form-horizontal row-border" do |f| %>
              <div class="form-group">
                <div class="row">
                  <label class="col-md-2 control-label">Academias: </label>
                  <div class="col-md-10">
                    <% Academy.all.each do |academy| %>
                      <label class="checkbox-inline">
                        <%= check_box_tag 'teacher[academy_ids][]', academy.id, f.object.academies.include?(academy) %><%= academy.name %>
                      </label>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2">
                    <%= f.submit "Aceptar", :class => "btn btn-primary pull-right" %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <li><%= link_to edit_teacher_path(@teacher) do %><span>Editar Profesor</span><% end %></li>
    <li><%= link_to @teacher, method: :delete do %><span>Eliminar Profesor</span><% end %></li>
    <li><%= link_to teachers_path do %><span>Profesores</span><% end %></li>
  </ul>
</div>
<div class="page-header">
  <div class="page-title">
    <h2>Profesor: <%= @teacher.name %> <%= @teacher.lname %> <%= @teacher.mname %> </h2>
    <p id="notice"><%= notice %></p>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <dl class="dl-horizontal">
      <dt>Número de Empleado</dt>
      <dd><%= @teacher.pin %></dd>
      <br>
      <dt>Licenciatura</dt>
      <dd><%= @teacher.degree %></dd>
      <br>
      <dt>Postgrado</dt>
      <dd><%= @teacher.master %></dd>
      <br>
      <dt>Dictamen</dt>
      <dd><%= @teacher.dictamen %></dd>
      <br>
      <dt>Turno</dt>
      <dd><%= @teacher.shift %></dd>
      <br>
      <dt>Antiguedad</dt>
      <dd><%= @teacher.age %> años</dd>
    </dl>
  </div>
  <div class="col-md-6">
    <h3>Plazas</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Horas</th>
        </tr>
      <tbody>
        <% @teacher.posts.each do |post| %>
          <tr>
            <td><%= post.name %></td>
            <td><%= post.hrs %></td>
          </tr>
        <% end %>
        <tr>
          <th>Total</th>
          <th><%= @teacher.total_hrs %></th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Academias</h3>
    <table class = "table table-striped table-bordered table-hover datatable">
      <thead>
        <tr>
          <th>Nombre</th>
        </tr>
      </thead>
      <tbody>
        <% @teacher.academies.each do |academy| %>
          <tr>
            <td><%= link_to academy do %><i class="fa fa-eye"></i> <%= academy.name %><% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Unidades de Aprendizaje</h3>
    <table class = "table table-striped table-bordered table-hover datatable">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Academia</th>
        </tr>
      </thead>
      <tbody>
        <% @teacher.subjects.each do |subject| %>
          <tr>
            <td><%= link_to subject do %><i class="fa fa-eye"></i> <%= subject.name %><% end %></td>
            <td><%= subject.academy.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
