<div id="container">
	<div id="sidebar" class="sidebar-fixed">
		<div id="sidebar-content">
			<ul id="nav"><!--=== Navigation ===-->
				<li class="current"><%= link_to root_path do %><i class="fa fa-dashboard"></i> Dashboard<% end %></li>
				<li><%= link_to teachers_path do %><i class="fa fa-male"></i> Profesores<% end %></li>
				<li><%= link_to academies_path do %><i class="fa fa-building"></i> Academias<% end %></li>
				<li><%= link_to subjects_path do %><i class="fa fa-book"></i> U. de Aprendizaje<% end %></li>
				<li><%= link_to students_path do %><i class="fa fa-users"></i> Alumnos<% end %></li>
				<li><%= link_to majors_path do %><i class="fa fa-bookmark"></i> Carrera<% end %></li>
			</ul>
			<div class="sidebar-title"><!-- /Navigation --></div>
			<div class="sidebar-widget align-center">
				<div class="btn-group" data-toggle="buttons" id="theme-switcher">
					<label class="btn active">
						<input type="radio" name="theme-switcher" data-theme="bright"><i class="fa fa-sun-o "></i> Brillate</label>
					<label class="btn">
						<input type="radio" name="theme-switcher" data-theme="dark"><i class="fa fa-moon-o"></i> Oscuro</label>
					</div>
				</div>
			</div>
			<div id="divider" class="resizeable"></div>
		</div><!-- /Sidebar -->
